{% extends 'site/base.html' %}
    {% block homeMenuItem %}<li class="active"><a href="{{url_for('site.home')}}" title="">Home</a></li>{% endblock homeMenuItem %}

    {% block content %}
       <div class="overlay" data-vide-bg="{{url_for('static', filename='video/office-typing-code/office-typing-code')}}">
            <section class=hero_area>
                <div class="hero_content">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="slider">
                                <div class="callbacks_container">
                                    <ul class="rslides callbacks callbacks1" id="slider4">
                                        <li>
                                    <div class="agileits-banner-info">
                                        <h1>Web Design & Development</h1>
                                        <h3></h3>
                                    </div>
                                </li>
                                <li>
                                    <div class="agileits-banner-info">
                                        <h1>Software Development</h1>
                                        <h3></h3>
                                    </div>
                                </li>
                                <li>
                                    <div class="agileits-banner-info">
                                        <h1>IT Consultancy</h1>
                                        <h3></h3>
                                    </div>
                                </li>
                                <li>
                                    <div class="agileits-banner-info">
                                        <h1>IT Training</h1>
                                        <h3></h3>
                                    </div>
                                </li>
                                <li>
                                    <div class="agileits-banner-info">
                                        <h1>E-Voting Software Leasing</h1>
                                        <h3></h3>
                                    </div>
                                </li> 
                                <li>
                                    <div class="agileits-banner-info">
                                        <h1>Managed IT Services</h1>
                                        <h3></h3>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <script>
                            // You can also use "$(window).load(function() {"
                            $(function () {
                            // Slideshow 4
                            $("#slider4").responsiveSlides({
                                auto: true,
                                pager:true,
                                nav:true,
                                speed: 500,
                                namespace: "callbacks",
                                before: function () {
                                $('.events').append("<li>before event fired.</li>");
                                },
                                after: function () {
                                $('.events').append("<li>after event fired.</li>");
                                }
                            });
                        
                            });
                        </script>
                        <!--banner Slider starts Here-->
                    </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </section> 
            <section class="boxes_area visible-lg">
            <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="box">
                                <h3>Web & Interactive design</h3>
                                <!--<p>Are you looking to create a successful web presence? You've come to the right place. We are a Tamale based web design and
                                    development agency crafting websites for foward thinking brands and businesses.</p>-->
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="box">
                                <h3>Custom Business Applications</h3>
                                <!--
                                <p>Automating the the essential aspects of your business can improve productivity enoumously.
                            We can build Custom applications to meet your specific institutional goals.</p>
                                -->
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="box">
                                <h3>Managed IT Services</h3>
                                <!--
                                 <p>Flat-rate, all-inclusive support solutions for improved productivity, lowered labor costs and expanded internal support for your entire IT infrastructure. </p>
                                -->
                                </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
                
    </header>
    <main class="site-main">
     
        <section class="services" id="services">
            <h2 class="section-title">Services</h2>
            <p class="desc">A wide range of services and support to cater for your organization's IT needs</p>
            <div class="service-content" >
                <div class="container">
                    <div class="row">
                        <div class="radius">
                            <div class="col-md-4 col-sm-6 col-xs-12 s-style s-1">
                                 <i class="s-number">
                                        <img src="{{url_for('static', filename='img/numbers/1.png')}}">
                                    </i>
                                <div class="media">
                                    
                                    <div class="media-middle">
                                        <i class=""><img class="service-icon" src="{{url_for('static', filename='img/business-icons/Business-19.png')}}"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Web Design & Development</h4>
                                        <p>
                                            Profersional designs to reperent your brand in ways that converts your website visitors to paying customers.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 s-style s-2">
                                <i class="s-number">
                                        <img src="{{url_for('static', filename='img/numbers/2.png')}}">
                                </i>
                                <div class="media">
                                    <div class="media-middle">
                                        <i class=""><img class="service-icon" src="{{url_for('static', filename='img/business-icons/Business-17.png')}}"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Software Development</h4>
                                        <p>Custom software design to meet your specific workflow. Project specific software, data collection/entry apps.
                                            You name it, we will make it. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 s-style s-3">
                                 <i class="s-number">
                                        <img src="{{url_for('static', filename='img/numbers/3.png')}}">
                                </i>
                                <div class="media">
                                    <div class="media-middle">
                                        <i class=""><img class="service-icon" src="{{url_for('static', filename='img/business-icons/Business-28.png')}}"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Managed IT Services</h4>
                                        <p>From your network infrustructure to computers. We offer an all inclusive support solutions for your entire IT infrastructure.
                                        Call on us, we've got you covered.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 s-style s-2">
                                 <i class="s-number">
                                        <img src="{{url_for('static', filename='img/numbers/4.png')}}">
                                </i>
                                <div class="media">
                                    <div class="media-middle">
                                        <i class=""><img class="service-icon" src="{{url_for('static', filename='img/business-icons/Business-13.png')}}"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">E-Voting System Leasing</h4>
                                        <p>Our flagship app, 'RunVote' e-voting system is packed with functionality that makes School elections easy and secure.
                                        Contact us now for a test run or visit <a class="btn-link" href="http://runvote.net" target="_blank">runvote.net</a> for more info. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 s-style s-1">
                                 <i class="s-number">
                                        <img src="{{url_for('static', filename='img/numbers/5.png')}}">
                                </i>
                                <div class="media">
                                    <div class="media-middle">
                                        <i class=""><img class="service-icon" src="{{url_for('static', filename='img/business-icons/Business-18.png')}}"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">IT Consultancy</h4>
                                        <p>Work with us to ensure your IT strategy is closely aligned with your current business goals and objectives, and is also capable of keeping up with your future needs.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 s-style s-4">
                                 <i class="s-number">
                                        <img src="{{url_for('static', filename='img/numbers/6.png')}}">
                                </i>
                                <div class="media">
                                    <div class="media-middle">
                                        <i class=""><img class="service-icon" src="{{url_for('static', filename='img/business-icons/Business-27.png')}}"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">IT Training</h4>
                                        <p>Equip yourself with contemporary techniques to make better use of productivity softwares.
                                        Become a confident web developer by enrolling in our free online and paid hands on face to face training.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <!--<section class="choose">
            <h2 class="section-title">WHY CHOOSE US</h2>
            <p class="desc">Praesent faucibus ipsum at sodales blandit</p>
            <div class="container">
                <div class="row">
                                         
                </div>
            </div>
        </section> -->
    </main>
    <div class="clear-fix"></div>
    <script>
        var smenu = document.getElementById('smenu');
        smenu.onclick = scrollTo
        function scrollTo(){
            var elmnt = document.getElementById("services");
            elmnt.scrollIntoView();

        }; 
         function getUrlVar(key){
            var result = new RegExp(key + "=([^&]*)", "i").exec(window.location.search); 
            return result && unescape(result[1]) || ""; 
        }
        if(getUrlVar('section') === 'services')
                scrollTo();
        
        $(function() {
            $('.overlay').lazy({
                placeholder: "data:{{url_for('static', filename='img/loading.gif')}}"
            });
        });
        console.log("{{url_for('static', filename='img/loading.gif')}}");
    </script> 
    {% endblock content %}
    
