{% extends 'site/base.html' %}
    {% block portfolioMenuItem %} <li class="active"><a href="{{url_for('site.portfolio')}}" title="">Portfolio</a></li> {% endblock portfolioMenuItem %}

    {% block content %}
    


<div class="bread_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li><a href="{{url_for('site.home')}}" title="Post">Home</a></li>
                        <li class="active">Portfolio</li>
                    </ol>                    
                </div>
            </div>
        </div>
    </div> 
    <main class="site-main category-main">
        <div class="container">
            <div class="row">
                <section class="category-content col-sm-9">
                    <h2 class="category-title">PORTFOLIO</h2>
                </section>
            </div>
        </div>
    
    </main>
    {% endblock content %}
